.allquestiosn{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.answers{
  display: flex;
  flex-direction: row;
}
.a1{
  order: 1;
}
.a2{
  order: 2;
}
.a3{
  order: 3;
}
.correct{
  background-color: lightgreen;
}
