/* button login */

   #customBtn {
      display: inline-block;
      background: white ; /* #DF4A32 */
      width: 100px;
      border-radius: 5px;
      border: thin solid black;
      box-shadow: 1px 1px 1px black;
      white-space: nowrap;
    }
    #customBtn:hover {
      cursor: pointer;
    }
    span.label {
      font-family: serif;
      font-weight: normal;
    }
    span.icon {
      background: url('resources/google_logo_trans.png') transparent 5px 50% no-repeat;
      display: inline-block;
      vertical-align: middle;
      width: 42px;
      height: 42px;
    }
    span.buttonText {
      display: inline-block;
      vertical-align: middle;
      color: black;
      padding-left: 5px;
      padding-right: 42px;
      font-size: 1em;
      font-weight: bold;
      /* Use the Roboto font that is loaded in the <head> */
      font-family: 'Roboto', sans-serif;
    }

/* button logout */

   #customBtn1 {
      display: inline-block;
      background: white ; /* #DF4A32 */
      width: 100px;
      border-radius: 5px;
      border: thin solid black;
      box-shadow: 1px 1px 1px black;
      white-space: nowrap;
    }
    #customBtn1:hover {
      cursor: pointer;
    }
    span.label {
      font-family: serif;
      font-weight: normal;
    }
    span.icon {
      background: url('resources/google_logo_trans.png') transparent 5px 50% no-repeat;
      display: inline-block;
      vertical-align: middle;
      width: 42px;
      height: 42px;
    }
    span.buttonText1 {
      display: inline-block;
      vertical-align: middle;
      color: black;
      padding-left: 5px;
      padding-right: 42px;
      font-size: 1em;
      font-weight: bold;
      /* Use the Roboto font that is loaded in the <head> */
      font-family: 'Roboto', sans-serif;
    }

/* flex setup */ 

html {
    height: 100%;
    box-sizing: border-box; /* https://css-tricks.com/box-sizing/ */
}

*, *:before, *:after {
  box-sizing: inherit; /* https://css-tricks.com/box-sizing/ */
}

body {
    margin: 0;
    min-height: 100%;
    display: flex; /* body is the outer flex container */
    flex-flow: row wrap;
    text-align: center;
}

#inner-flex-container {
    display: flex;
    flex-direction: column;
    width: calc(100% - 250px);
}

aside   { flex: 1 250px; }
header  { flex: 1; }
section { flex: 4; }
footer  { flex: 1; }


/*    *****   */ 




body{
  background-image: url(resources/bg_yellow.png);
  background-size: contain;
  margin: 0;
  color: white;
}

/* main */ 
#outer {
  width: 250px;
  margin-right: 50%;
  margin-left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#logo{
    width: 250px;
    height: 180px;
    background-image: url(resources/logo.png);
    background-size: cover;
 
}
#menu{
  width: 220px;
  height: 100vh;
  background-color: coral;
  background-size: contain;
  float: left;
  padding-top: 20px;
}

#Culture{
  background-image: url(resources/bg.culture.png);
  background-size: cover;
}
#Sports {
  background-image: url(resources/sports.png);
  background-size: cover;
}
#Books{
  background-image: url(resources/books.png);
  background-size: cover;
}
#Celebrities{
  background-image: url(resources/celebs.png);
  background-size: cover;
}
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
.flex-item {
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;

  line-height: 150px;
  color: black;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}
.allquestions{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.question{
  border: 1px solid grey;
  text-align: center;
}
.show{
  display: block;
}
.hide{
  display: none;
}
.answers{
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  margin-top: 10px;
}
.answers button{
  margin-right: 10px;
  width: 140px;
}
.a1{
  order: 1;
}
.a2{
  order: 2;
}
.a3{
  order: 3;
}
.correct{
  background-color: lightgreen;
}
