




/* test  */
h1 {
	color: #fff;
	font-family: 'Inknut Antiqua', serif;
	font-size: 3em;
	font-weight: 400;
	line-height: 1em;
	margin-bottom: 1em;
	text-align: center;
    color:black;
	text-transform: uppercase;

}
h5{
  	color: #black;
	font-family: 'Inknut Antiqua', serif;
	font-size: 2em;
	font-weight: 400;
	line-height: 1em;
	margin-bottom: 1em;
	text-align: center;
    color:black;
	text-transform: uppercase; 

}

p {
	color: black;
	font-family: 'Inknut Antiqua', serif;
	font-size: 0.9em;
	font-style: italic;
	font-weight: 400;
	line-height: 1em;
	margin: 0 auto 1em;

}

a {
	color: #e66c7e;	border-bottom: 2px solid #e66c7e;
	font-family: 'Inknut Antiqua', serif;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 3px;
	text-decoration: none;
	text-transform: uppercase;
}


/* hover over category effects */

li:hover {
	color: #fff;
 transform: scale(1.1, 1.01);
 -moz-transform: scale(1.1, 1.01);
-ms-transform: scale(1.1, 1.01);
-webkit-transform: scale(1.1, 1.01);
-o-transform: scale(1.1, 1.01);
}







/* The side navigation menu */
.sidenav {
    height: ; /* 100% Full-height */
     /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    /*background-color: #76cee8; */
    background-image: url(resources/bg_blue.png);
    background-size: contain;
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow: hidden;
    padding-top: 20px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    color:black;
    right: 5px;
    font-size: 12px;
    float: left;
}
#close {
    color:black;
    margin:0.3em;
    margin-right: 1rem;
    height: 25px;
    width: 75px;
    cursor: pointer;
    font-family: 'Inknut Antiqua', serif;
}

#close:hover {

}

#open {
    color:black;
    margin:0.3em;
    margin-left: 1rem;
    height: 25px;
    width: 75px;
    cursor: pointer;
    font-family: 'Inknut Antiqua', serif;
}
#open:hover {

}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    margin-left: 5%;
    display: flex;
    -webkit-flex-flow: row;
    
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}



/* ************************************************* */
/* logo */

.flex-item1 {
  padding: 5px;
  width: 200px;
  height: 150px;


  line-height: 150px;
  color: black;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

#logo{
    color: black;
    text-align: center;
     
}
#logo1{
    color: black;
    text-align: center;
    
}

.root{}

#logo_center {  
  justify-content: center;
  align-items: center;
  margin-left: 170px;
}

#img {
    margin-top: 10px;
    height:150px;
    width: 250px;
    /*Goudy old style*/
}

/* button login */

   #customBtn {
      margin-top: 10px;
      display: inline-block;
      background: white ; /* #DF4A32 */
      width: 120px;
      border-radius: 5px;
      border: thin solid black;
      box-shadow: 1px 1px 1px black;
      white-space: nowrap;
    }
    #customBtn:hover {
      cursor: pointer;
    }
    span.label {
      font-family: 'Inknut Antiqua', serif;
      font-weight: normal;
    }

header {/*margin-left: 10%;*/}

    span.icon {
      background: url('resources/google_logo_trans.png') transparent 5px 50% no-repeat;
      display: inline-block;
      vertical-align: middle;
      width: 42px;
      height: 42px;
    }
    span.buttonText {
      display: inline-block;
      vertical-align: middle;
      color: black;
      padding-left: 5px;
      padding-right: 42px;
      font-size: 1em;
      font-weight: bold;
      /* Use the Roboto font that is loaded in the <head> */
      font-family: 'Roboto', sans-serif;
    }

/* button logout */

   #customBtn1 {
      margin-top: 10px;
      display: inline-block;
      background: white ; /* #DF4A32 */
      width: 120px;
      border-radius: 5px;
      border: thin solid black;
      box-shadow: 1px 1px 1px black;
      white-space: nowrap;
    }
    #customBtn1:hover {
      cursor: pointer;
    }
    span.label {
      font-family: 'Inknut Antiqua', serif;
      font-weight: normal;
    }
    span.icon {
      background: url('resources/google_logo_trans.png') transparent 5px 50% no-repeat;
      display: inline-block;
      vertical-align: middle;
      width: 42px;
      height: 42px;
    }
    span.buttonText1 {
      display: inline-block;
      vertical-align: middle;
      color: black;
      padding-left: 5px;
      padding-right: 42px;
      font-size: 1em;
      font-weight: bold;
      /* Use the Roboto font that is loaded in the <head> */
      font-family: 'Roboto', sans-serif;
    }

/* flex setup */ 

html {
    height: 100%;
    box-sizing: border-box; 
}

*, *:before, *:after {
  box-sizing: inherit; 
}

body {
    display: flex;
    flex-flow: row wrap;

}

#inner-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}



/*    *****   */ 



#username{font-size: 0.8em;}

body{
  background-image: url(resources/bg_yellow.png);
  background-size: contain;
  margin: 0;
  color: white;
}

/* main */ 
#outer {
  width: 250px;
  margin-left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#menu{
  margin-top: 2em;
  height: 200vh;
  background-size: contain;
  float: left;
   overflow: hidden;
}

ul {-webkit-padding-start: 0px;}

h3{color:black; font-size:0.8em;}
h4{color:black; font-size:0.7em;}
/*
#introText{font-size: 1.7em; text-align: left; margin-left: 20px;}*/

/* Categoty items */

#Culture{
  background-image: url(resources/category_culture1.png);
  background-size: contain;
  background-repeat: no-repeat;
  color: #998e00;
}
#Sports {
  background-image: url(resources/category_sport1.png);
  background-size: contain;
  background-repeat: no-repeat;
  color: #998e00;
}
#Books{
  background-image: url(resources/category_culture.png);
  background-size: contain;
  background-repeat: no-repeat;
  color: #998e00;
}
#Celebrities{
  background-image: url(resources/category_culture.png);
  background-size: contain;
  background-repeat: no-repeat;
  color: #998e00;
}
#Movies{
  background-image: url(resources/category_movies1.png);
  background-size: contain;
  background-repeat: no-repeat;
  color: #998e00;
}
#World{
  background-image: url(resources/category_culture.png);
  background-size: contain;
  background-repeat: no-repeat;
  color: #998e00;
}
#Language{
  
  background-image: url(resources/category_culture.png);
  background-size: contain;
  background-repeat: no-repeat;
  color: #998e00;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
.flex-item {
  padding: 10px;
  width:10em;
  height:10em;
  margin-bottom: 1em;
  margin-right: 1em;
  margin-left: 1em;
  color: black;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  font-family: 'Inknut Antiqua', serif;
}



/* questions  */ 

.allquestions{

  color: black;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  margin-top: 5em;
}
.question{
  display: inline-block;
}
.questionText{

}
.show{
  display: block;
}
.hide{
  display: none;
}
.answers{
  height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:16px;

}
.answers button{
margin:0.2em;
  width: 7em;
  height:2em;
  background-color: #76cee8;
  font-family: 'Inknut Antiqua', serif;
  font-size: 0.9em;
  font-weight: 600;
  line-height: 1em;
  text-align: center;

}
.a1{
  order: 1;

}
.a2{
  order: 2;

}
.a3{
  order: 3;

}
.correct{
  background-color: lightgreen;
}


/* ************************************************************************* */
/* ****************** Media queries **************************************** */

/* Small only */
@media screen and (max-width: 39.9375em) {  
    #root {margin-left: 5%;  margin-right: 5%; }
    .flex-item {width: 8em;height: 8em;}
    h1 {
    font-size: 2em;
    font-weight: 300;
    line-height: 0.9em;
}
}

/* Medium and up */
@media screen and (min-width: 40em) { 
    #root {margin-left: 5%;  margin-right: 5%; } }

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) { 
    #root {margin-left: 5%;  margin-right: 5%; }}

/* Large and up */
@media screen and (min-width: 64em) { 
    #root {margin-left: 20%;  margin-right: 20%; }}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) { 
    #root {margin-left: 25%;  margin-right: 25%; }}